@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@500&family=Lato&family=Open+Sans:wght@400;500&family=Roboto&family=Roboto+Condensed&display=swap');
.cards-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 550;
    font-size: 15px;
    text-align: center; /* Align text horizontally to center */
}


.card-class{
    border-radius: 10px;
}

.dashboardcards .content{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}


@media (max-width: 1168px) {
    .cards-text {
        font-size: 16px;
    }
    .dashboardcards .content {
        font-size: 14px; 
    }
}

@media (max-width: 868px) {
    .cards-text {
        font-size: 14px;
    }
    .dashboardcards .content {
        font-size: 13px; 
    }
}

@media (max-width: 668px) {
    .cards-text {
        font-size: 11px;
        font-weight: normal;

    }
    .dashboardcards .content {
        font-size: 12px; 
    }
}

@media (max-width: 468px) {
    .cards-text {
        font-size: 8px;
        font-weight: normal;
    }
    .dashboardcards .content {
        font-size: 11px; 
    }
}

@media (max-width: 268px) {
    .cards-text {
        font-size: 2px;
        font-weight: normal;
    }
    .dashboardcards .content {
        font-size: 10px; 
    }
}

.custom-card {
    width: 20rem;
    margin-top: 35px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  