.provider-form {
    max-width: 600px;
    padding: 20px;
    border: 1px solid hwb(0 87% 13%);
    border-radius: 8px;
    margin-left: 29%;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .provider-form label {
    font-weight: 600;
  }
  
  .provider-form input,
  .provider-form button {
    margin-bottom: 20px;
  }
  
  .provider-form button {
    width: 100%;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .provider-form button:hover {
    background-color: #2980b9;
  }
  